<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hamsterj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,92},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
            <key>hamsterj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
            <key>hamsterr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,164},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>hamsterr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>hamsters1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,92},{31,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,46}}</string>
                <key>sourceSize</key>
                <string>{31,46}</string>
            </dict>
            <key>hamsters2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,125},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>hamsterst.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,179}}</string>
                <key>sourceSize</key>
                <string>{182,179}</string>
            </dict>
            <key>hamsterwb.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,131},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>hamsteryj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>hamsteryj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,37},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>hamsteryj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,69},{56,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,21}}</string>
                <key>sourceSize</key>
                <string>{56,21}</string>
            </dict>
            <key>hamsterzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,192},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>hamsterzb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,159},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hamsterpacker.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94c36b8a372cf26f04c8e63cc7538c4e:1/1$</string>
            <key>textureFileName</key>
            <string>hamsterpacker.png</string>
        </dict>
    </dict>
</plist>
