<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,265},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>bw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,928},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>en1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,220},{58,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,64}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>en2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,949},{72,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,83}}</string>
                <key>sourceSize</key>
                <string>{72,83}</string>
            </dict>
            <key>en3.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,299},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>en4.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,328},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>enyz.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,903},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>enyz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,903},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>enyz11.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,135},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>enyz12.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,93},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>here.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,186},{59,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,105}}</string>
                <key>sourceSize</key>
                <string>{59,105}</string>
            </dict>
            <key>hereblank.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,948},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>herebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,948},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,339},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>nine1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,758},{143,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,277}}</string>
                <key>sourceSize</key>
                <string>{143,277}</string>
            </dict>
            <key>nine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,758},{117,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,168}}</string>
                <key>sourceSize</key>
                <string>{117,168}</string>
            </dict>
            <key>nine3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{89,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,111}}</string>
                <key>sourceSize</key>
                <string>{89,111}</string>
            </dict>
            <key>nine4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,951},{71,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,33}}</string>
                <key>sourceSize</key>
                <string>{71,33}</string>
            </dict>
            <key>nine5.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,247},{83,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,50}}</string>
                <key>sourceSize</key>
                <string>{83,50}</string>
            </dict>
            <key>nine6.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,186},{142,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,124}}</string>
                <key>sourceSize</key>
                <string>{142,124}</string>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{260,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,129}}</string>
                <key>sourceSize</key>
                <string>{260,129}</string>
            </dict>
            <key>sboss0.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,174},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>sboss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,114},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>seven1.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,903},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>seven2.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,284},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>seven3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,93},{99,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,78}}</string>
                <key>sourceSize</key>
                <string>{99,78}</string>
            </dict>
            <key>seven4.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,284},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,42}</string>
            </dict>
            <key>seven5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,903},{44,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,38}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>sl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,291},{107,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,54}}</string>
                <key>sourceSize</key>
                <string>{107,54}</string>
            </dict>
            <key>sl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{110,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,52}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>ssl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,234},{96,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,48}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>ssl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,903},{97,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,43}}</string>
                <key>sourceSize</key>
                <string>{97,43}</string>
            </dict>
            <key>stage0.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,951},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>stage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,952},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>stage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,952},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>stageblank.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,952},{71,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,66}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
            <key>star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,928},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,928},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>themecomingtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{311,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,97}}</string>
                <key>sourceSize</key>
                <string>{311,97}</string>
            </dict>
            <key>themecover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,754}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,754}}</string>
                <key>sourceSize</key>
                <string>{540,754}</string>
            </dict>
            <key>unlockbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,175},{88,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,27}}</string>
                <key>sourceSize</key>
                <string>{88,27}</string>
            </dict>
            <key>unlocktext.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,101},{292,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,83}}</string>
                <key>sourceSize</key>
                <string>{292,83}</string>
            </dict>
            <key>updatebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,758},{192,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,94}}</string>
                <key>sourceSize</key>
                <string>{192,94}</string>
            </dict>
            <key>wu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,194},{75,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,24}}</string>
                <key>sourceSize</key>
                <string>{75,24}</string>
            </dict>
            <key>wu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,928},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0811eef953107b3a5ae13ae0d4f2f286:1/1$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
