<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,148},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,148},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,2},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,2},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{151,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,144}}</string>
                <key>sourceSize</key>
                <string>{151,144}</string>
            </dict>
            <key>UI/8zhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,194},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>UI/9zhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1077},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>UI/DiamondsLight_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,273},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,257},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,257},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,217},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,217},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,419},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,363},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,307},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,267},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,211},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,155},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/DiamondsLight_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,195},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>UI/bigheart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,148},{116,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,107}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>UI/bluebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,2},{191,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,91}}</string>
                <key>sourceSize</key>
                <string>{191,91}</string>
            </dict>
            <key>UI/bossbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,128},{87,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{87,97}</string>
            </dict>
            <key>UI/bosschallengebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{540,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,497}}</string>
                <key>sourceSize</key>
                <string>{540,497}</string>
            </dict>
            <key>UI/bossdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1119},{425,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,202}}</string>
                <key>sourceSize</key>
                <string>{425,202}</string>
            </dict>
            <key>UI/bossget.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,155},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>UI/bossgetbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1979},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>UI/bosshiscoretext.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1962},{79,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,18}}</string>
                <key>sourceSize</key>
                <string>{79,18}</string>
            </dict>
            <key>UI/bossoverbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,2},{105,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,35}}</string>
                <key>sourceSize</key>
                <string>{105,35}</string>
            </dict>
            <key>UI/bossoverline.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2043},{442,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,3}}</string>
                <key>sourceSize</key>
                <string>{442,3}</string>
            </dict>
            <key>UI/bossoverrewardtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2020},{43,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,18}}</string>
                <key>sourceSize</key>
                <string>{43,18}</string>
            </dict>
            <key>UI/bossovertext.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1962},{268,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,76}}</string>
                <key>sourceSize</key>
                <string>{268,76}</string>
            </dict>
            <key>UI/bossscoretext.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1794},{96,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,22}}</string>
                <key>sourceSize</key>
                <string>{96,22}</string>
            </dict>
            <key>UI/bosstiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1129},{540,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,36}}</string>
                <key>sourceSize</key>
                <string>{540,36}</string>
            </dict>
            <key>UI/bosstie.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,1671},{347,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,121}}</string>
                <key>sourceSize</key>
                <string>{347,121}</string>
            </dict>
            <key>UI/bosstitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,414},{155,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,36}}</string>
                <key>sourceSize</key>
                <string>{155,36}</string>
            </dict>
            <key>UI/bosstz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,275},{133,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,29}}</string>
                <key>sourceSize</key>
                <string>{133,29}</string>
            </dict>
            <key>UI/bossxmtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{7,2020},{306,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,25}}</string>
                <key>sourceSize</key>
                <string>{306,25}</string>
            </dict>
            <key>UI/buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1979},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>UI/buybtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,275},{240,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,130}}</string>
                <key>sourceSize</key>
                <string>{240,130}</string>
            </dict>
            <key>UI/buylight.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,587},{488,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,459}}</string>
                <key>sourceSize</key>
                <string>{488,459}</string>
            </dict>
            <key>UI/buytext.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1958},{75,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,34}}</string>
                <key>sourceSize</key>
                <string>{75,34}</string>
            </dict>
            <key>UI/by10dsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,414},{410,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,154}}</string>
                <key>sourceSize</key>
                <string>{410,154}</string>
            </dict>
            <key>UI/by15dsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{410,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,154}}</string>
                <key>sourceSize</key>
                <string>{410,154}</string>
            </dict>
            <key>UI/by20dsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{410,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,154}}</string>
                <key>sourceSize</key>
                <string>{410,154}</string>
            </dict>
            <key>UI/by30dsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{410,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,154}}</string>
                <key>sourceSize</key>
                <string>{410,154}</string>
            </dict>
            <key>UI/by8dsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1546},{410,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,154}}</string>
                <key>sourceSize</key>
                <string>{410,154}</string>
            </dict>
            <key>UI/bybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1129},{499,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,539}}</string>
                <key>sourceSize</key>
                <string>{499,539}</string>
            </dict>
            <key>UI/bybtntext.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1596},{70,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,30}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>UI/bydscbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,403},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,29}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
            <key>UI/bygiftpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,414},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>UI/bylqtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1962},{82,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,36}}</string>
                <key>sourceSize</key>
                <string>{82,36}</string>
            </dict>
            <key>UI/bytitle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,414},{164,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,40}}</string>
                <key>sourceSize</key>
                <string>{164,40}</string>
            </dict>
            <key>UI/bytitle15.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,414},{164,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,40}}</string>
                <key>sourceSize</key>
                <string>{164,40}</string>
            </dict>
            <key>UI/bytitle20.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,414},{164,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,40}}</string>
                <key>sourceSize</key>
                <string>{164,40}</string>
            </dict>
            <key>UI/bytitle30.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1077},{164,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,40}}</string>
                <key>sourceSize</key>
                <string>{164,40}</string>
            </dict>
            <key>UI/bytitle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1077},{164,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,40}}</string>
                <key>sourceSize</key>
                <string>{164,40}</string>
            </dict>
            <key>UI/clasicbestdesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1119},{475,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,18}}</string>
                <key>sourceSize</key>
                <string>{475,18}</string>
            </dict>
            <key>UI/clasicbesticon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,155},{143,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,116}}</string>
                <key>sourceSize</key>
                <string>{143,116}</string>
            </dict>
            <key>UI/clasicbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,39},{87,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{87,97}</string>
            </dict>
            <key>UI/clasicdesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1670},{307,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,65}}</string>
                <key>sourceSize</key>
                <string>{307,65}</string>
            </dict>
            <key>UI/clasictext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,307},{112,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,29}}</string>
                <key>sourceSize</key>
                <string>{112,29}</string>
            </dict>
            <key>UI/clasictitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,273},{128,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,36}}</string>
                <key>sourceSize</key>
                <string>{128,36}</string>
            </dict>
            <key>UI/close.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1958},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>UI/cmoverclasictitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{271,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,88}}</string>
                <key>sourceSize</key>
                <string>{271,88}</string>
            </dict>
            <key>UI/cmoverflashtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1670},{272,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,88}}</string>
                <key>sourceSize</key>
                <string>{272,88}</string>
            </dict>
            <key>UI/cmoverhitext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,253},{87,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,19}}</string>
                <key>sourceSize</key>
                <string>{87,19}</string>
            </dict>
            <key>UI/cmoverline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1671},{373,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,3}}</string>
                <key>sourceSize</key>
                <string>{373,3}</string>
            </dict>
            <key>UI/comoverlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{535,583}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,583}}</string>
                <key>sourceSize</key>
                <string>{535,583}</string>
            </dict>
            <key>UI/conpropbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1962},{162,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,56}}</string>
                <key>sourceSize</key>
                <string>{162,56}</string>
            </dict>
            <key>UI/conpropdesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1669},{123,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,27}}</string>
                <key>sourceSize</key>
                <string>{123,27}</string>
            </dict>
            <key>UI/continuelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1670},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>UI/continuetext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,155},{118,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,30}}</string>
                <key>sourceSize</key>
                <string>{118,30}</string>
            </dict>
            <key>UI/continuetiltle.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1546},{121,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,34}}</string>
                <key>sourceSize</key>
                <string>{121,34}</string>
            </dict>
            <key>UI/diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,195},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>UI/dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,273},{97,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,32}}</string>
                <key>sourceSize</key>
                <string>{97,32}</string>
            </dict>
            <key>UI/dy.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1958},{70,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,19}}</string>
                <key>sourceSize</key>
                <string>{70,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ac6ccc3b18c6f30319b5a1ad7db130a:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
