<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/mesgdetailtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,369},{169,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,53}}</string>
                <key>sourceSize</key>
                <string>{169,53}</string>
            </dict>
            <key>UI/mesgitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1498},{472,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,111}}</string>
                <key>sourceSize</key>
                <string>{472,111}</string>
            </dict>
            <key>UI/messagebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1192},{87,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{87,97}</string>
            </dict>
            <key>UI/messagetitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1893},{88,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,41}}</string>
                <key>sourceSize</key>
                <string>{88,41}</string>
            </dict>
            <key>UI/micon0.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1806},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>UI/micon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1972},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>UI/modifynameinputbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,953},{265,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,44}}</string>
                <key>sourceSize</key>
                <string>{265,44}</string>
            </dict>
            <key>UI/morebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{327,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,209}}</string>
                <key>sourceSize</key>
                <string>{327,209}</string>
            </dict>
            <key>UI/morebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,831},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>UI/morechallegebox.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1248},{204,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,215}}</string>
                <key>sourceSize</key>
                <string>{204,215}</string>
            </dict>
            <key>UI/morecmbtn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1939},{114,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,104}}</string>
                <key>sourceSize</key>
                <string>{114,104}</string>
            </dict>
            <key>UI/morecmbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1691},{111,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,93}}</string>
                <key>sourceSize</key>
                <string>{111,93}</string>
            </dict>
            <key>UI/morehomebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1804},{87,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{87,97}</string>
            </dict>
            <key>UI/msgnotips.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{293,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,365}}</string>
                <key>sourceSize</key>
                <string>{293,365}</string>
            </dict>
            <key>UI/msgsystext.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1466},{112,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,30}}</string>
                <key>sourceSize</key>
                <string>{112,30}</string>
            </dict>
            <key>UI/newerbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,831},{109,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,115}}</string>
                <key>sourceSize</key>
                <string>{109,115}</string>
            </dict>
            <key>UI/newerdesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,953},{286,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,78}}</string>
                <key>sourceSize</key>
                <string>{286,78}</string>
            </dict>
            <key>UI/nexttext.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1465},{83,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,29}}</string>
                <key>sourceSize</key>
                <string>{83,29}</string>
            </dict>
            <key>UI/numBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1893},{148,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,44}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
            <key>UI/okbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,948},{242,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,87}}</string>
                <key>sourceSize</key>
                <string>{242,87}</string>
            </dict>
            <key>UI/okbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1220},{242,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,87}}</string>
                <key>sourceSize</key>
                <string>{242,87}</string>
            </dict>
            <key>UI/oktext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,331},{65,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,30}}</string>
                <key>sourceSize</key>
                <string>{65,30}</string>
            </dict>
            <key>UI/onsalegift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1936},{102,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,88}}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>UI/onsalelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,433},{396,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,396}}</string>
                <key>sourceSize</key>
                <string>{396,396}</string>
            </dict>
            <key>UI/passstagebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1291},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>UI/passstagetext.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,433},{397,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,110}}</string>
                <key>sourceSize</key>
                <string>{397,110}</string>
            </dict>
            <key>UI/pausebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,964},{490,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,500}}</string>
                <key>sourceSize</key>
                <string>{490,500}</string>
            </dict>
            <key>UI/pausetitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1466},{71,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,34}}</string>
                <key>sourceSize</key>
                <string>{71,34}</string>
            </dict>
            <key>UI/penbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1466},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>UI/propbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,832},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{122,124}</string>
            </dict>
            <key>UI/rabbit.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,831},{120,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,254}}</string>
                <key>sourceSize</key>
                <string>{120,254}</string>
            </dict>
            <key>UI/rangbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{540,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,202}}</string>
                <key>sourceSize</key>
                <string>{540,202}</string>
            </dict>
            <key>UI/rankanim.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1488},{190,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,201}}</string>
                <key>sourceSize</key>
                <string>{190,201}</string>
            </dict>
            <key>UI/rankanimword.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,953},{293,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,104}}</string>
                <key>sourceSize</key>
                <string>{293,104}</string>
            </dict>
            <key>UI/rankbg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,960}}</string>
                <key>sourceSize</key>
                <string>{540,960}</string>
            </dict>
            <key>UI/rankboxbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1506},{502,523}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,523}}</string>
                <key>sourceSize</key>
                <string>{502,523}</string>
            </dict>
            <key>UI/rankbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1948},{87,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{87,97}</string>
            </dict>
            <key>UI/rankbtn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1972},{127,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,67}}</string>
                <key>sourceSize</key>
                <string>{127,67}</string>
            </dict>
            <key>UI/rankdefaulthead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,948},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>UI/rankheadbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1388},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>UI/rankitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1498},{448,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,110}}</string>
                <key>sourceSize</key>
                <string>{448,110}</string>
            </dict>
            <key>UI/rankmedal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,369},{49,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,60}}</string>
                <key>sourceSize</key>
                <string>{49,60}</string>
            </dict>
            <key>UI/rankmedal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,369},{49,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,60}}</string>
                <key>sourceSize</key>
                <string>{49,60}</string>
            </dict>
            <key>UI/rankmedal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,369},{49,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,60}}</string>
                <key>sourceSize</key>
                <string>{49,60}</string>
            </dict>
            <key>UI/rankmyrankbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1466},{109,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,36}}</string>
                <key>sourceSize</key>
                <string>{109,36}</string>
            </dict>
            <key>UI/rankmyranktext.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1465},{86,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,21}}</string>
                <key>sourceSize</key>
                <string>{86,21}</string>
            </dict>
            <key>UI/ranksep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2041},{210,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,4}}</string>
                <key>sourceSize</key>
                <string>{210,4}</string>
            </dict>
            <key>UI/ranktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1691},{113,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,42}}</string>
                <key>sourceSize</key>
                <string>{113,42}</string>
            </dict>
            <key>UI/ranktop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1506},{533,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,132}}</string>
                <key>sourceSize</key>
                <string>{533,132}</string>
            </dict>
            <key>UI/rankworldtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1466},{113,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,30}}</string>
                <key>sourceSize</key>
                <string>{113,30}</string>
            </dict>
            <key>UI/restarttext.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1466},{111,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,30}}</string>
                <key>sourceSize</key>
                <string>{111,30}</string>
            </dict>
            <key>UI/reviveanimbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{429,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,261}}</string>
                <key>sourceSize</key>
                <string>{429,261}</string>
            </dict>
            <key>UI/revivedesc.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1691},{200,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,51}}</string>
                <key>sourceSize</key>
                <string>{200,51}</string>
            </dict>
            <key>UI/rprop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1388},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>UI/rprop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1482},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>UI/rprop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,913},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>UI/rprop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1204},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>UI/rprop4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1042},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>UI/rprop5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1123},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>UI/rprop6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1042},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02c0b6aa47bafecd00bd234ae610820f:1/1$</string>
            <key>textureFileName</key>
            <string>ui3.png</string>
        </dict>
    </dict>
</plist>
