<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI/taskbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1496},{87,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{87,97}</string>
            </dict>
            <key>UI/taskgetbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,731},{151,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,68}}</string>
                <key>sourceSize</key>
                <string>{151,68}</string>
            </dict>
            <key>UI/taskgetbtn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,731},{151,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,68}}</string>
                <key>sourceSize</key>
                <string>{151,68}</string>
            </dict>
            <key>UI/taskhero.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1110},{134,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,201}}</string>
                <key>sourceSize</key>
                <string>{134,201}</string>
            </dict>
            <key>UI/taskherobox.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1285},{201,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,98}}</string>
                <key>sourceSize</key>
                <string>{201,98}</string>
            </dict>
            <key>UI/taskitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,597},{474,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,132}}</string>
                <key>sourceSize</key>
                <string>{474,132}</string>
            </dict>
            <key>UI/taskprogressbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1319},{266,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,38}}</string>
                <key>sourceSize</key>
                <string>{266,38}</string>
            </dict>
            <key>UI/taskprogressbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,528},{266,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,38}}</string>
                <key>sourceSize</key>
                <string>{266,38}</string>
            </dict>
            <key>UI/taskredpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,670},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>UI/taskstatus-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,528},{99,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,51}}</string>
                <key>sourceSize</key>
                <string>{99,51}</string>
            </dict>
            <key>UI/taskstatus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,568},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>UI/tasktag0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1421},{127,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,68}}</string>
                <key>sourceSize</key>
                <string>{127,68}</string>
            </dict>
            <key>UI/tasktag0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1453},{127,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,68}}</string>
                <key>sourceSize</key>
                <string>{127,68}</string>
            </dict>
            <key>UI/tasktag1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1383},{127,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,68}}</string>
                <key>sourceSize</key>
                <string>{127,68}</string>
            </dict>
            <key>UI/tasktag1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1313},{127,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,68}}</string>
                <key>sourceSize</key>
                <string>{127,68}</string>
            </dict>
            <key>UI/tasktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1330},{89,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,42}}</string>
                <key>sourceSize</key>
                <string>{89,42}</string>
            </dict>
            <key>UI/tgmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,703},{113,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,29}}</string>
                <key>sourceSize</key>
                <string>{113,29}</string>
            </dict>
            <key>UI/tie.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,402},{187,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,79}}</string>
                <key>sourceSize</key>
                <string>{187,79}</string>
            </dict>
            <key>UI/timebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,522},{73,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,22}}</string>
                <key>sourceSize</key>
                <string>{73,22}</string>
            </dict>
            <key>UI/tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1519},{47,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,19}}</string>
                <key>sourceSize</key>
                <string>{47,19}</string>
            </dict>
            <key>UI/treestool.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1407},{158,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,99}}</string>
                <key>sourceSize</key>
                <string>{158,99}</string>
            </dict>
            <key>UI/unlockbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{398,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,437}}</string>
                <key>sourceSize</key>
                <string>{398,437}</string>
            </dict>
            <key>UI/unlocklight.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,818},{465,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,503}}</string>
                <key>sourceSize</key>
                <string>{465,503}</string>
            </dict>
            <key>UI/unlocktext1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,568},{102,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,27}}</string>
                <key>sourceSize</key>
                <string>{102,27}</string>
            </dict>
            <key>UI/unlocktext2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1359},{106,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,29}}</string>
                <key>sourceSize</key>
                <string>{106,29}</string>
            </dict>
            <key>UI/usepropbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,1285},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>UI/usetext.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,731},{73,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,34}}</string>
                <key>sourceSize</key>
                <string>{73,34}</string>
            </dict>
            <key>UI/vipbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1407},{87,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,97}}</string>
                <key>sourceSize</key>
                <string>{87,97}</string>
            </dict>
            <key>UI/vsbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{540,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,112}}</string>
                <key>sourceSize</key>
                <string>{540,112}</string>
            </dict>
            <key>UI/vshero.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1285},{120,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,254}}</string>
                <key>sourceSize</key>
                <string>{120,254}</string>
            </dict>
            <key>UI/vstext.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,731},{132,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,78}}</string>
                <key>sourceSize</key>
                <string>{132,78}</string>
            </dict>
            <key>UI/waitingbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1359},{233,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,42}}</string>
                <key>sourceSize</key>
                <string>{233,42}</string>
            </dict>
            <key>UI/waitingprogress.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,636},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>UI/winStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1491},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>UI/winbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{518,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,564}}</string>
                <key>sourceSize</key>
                <string>{518,564}</string>
            </dict>
            <key>UI/winbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{472,505}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,505}}</string>
                <key>sourceSize</key>
                <string>{472,505}</string>
            </dict>
            <key>UI/windeck.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1537},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>UI/windi.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1385},{177,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,34}}</string>
                <key>sourceSize</key>
                <string>{177,34}</string>
            </dict>
            <key>UI/winjltext.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,492},{368,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,34}}</string>
                <key>sourceSize</key>
                <string>{368,34}</string>
            </dict>
            <key>UI/winrewardbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{360,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,187}}</string>
                <key>sourceSize</key>
                <string>{360,187}</string>
            </dict>
            <key>UI/winscoretext.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1299},{88,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,19}}</string>
                <key>sourceSize</key>
                <string>{88,19}</string>
            </dict>
            <key>UI/winstar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1421},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>UI/wintext.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,402},{368,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,88}}</string>
                <key>sourceSize</key>
                <string>{368,88}</string>
            </dict>
            <key>UI/xline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{63,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,8}}</string>
                <key>sourceSize</key>
                <string>{63,8}</string>
            </dict>
            <key>UI/yellowbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1320},{201,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,92}}</string>
                <key>sourceSize</key>
                <string>{201,92}</string>
            </dict>
            <key>UI/yellowbtnpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1467},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>UI/yilqtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,568},{79,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,27}}</string>
                <key>sourceSize</key>
                <string>{79,27}</string>
            </dict>
            <key>UI/yuanrmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1403},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>UI/zkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1403},{178,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,213}}</string>
                <key>sourceSize</key>
                <string>{178,213}</string>
            </dict>
            <key>UI/zuidxc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1299},{270,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,18}}</string>
                <key>sourceSize</key>
                <string>{270,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui5.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a51bb20a074c7d39838a9e2ea11a091:1/1$</string>
            <key>textureFileName</key>
            <string>ui5.png</string>
        </dict>
    </dict>
</plist>
