<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cgl.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,0},{215,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,58}</string>
			</dict>
			<key>lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,342},{47,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,78}</string>
			</dict>
			<key>rabbit_bizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,349},{76,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,43}</string>
			</dict>
			<key>rabbit_bizi_daxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,276},{97,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,41}</string>
			</dict>
			<key>rabbit_bizi_waitou.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,213},{77,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,59}</string>
			</dict>
			<key>rabbit_bizi_zhayan.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,215},{77,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,55}</string>
			</dict>
			<key>rabbit_body.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,0},{125,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,144}</string>
			</dict>
			<key>rabbit_eyes.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,278},{137,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,56}</string>
			</dict>
			<key>rabbit_head.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{192,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,177}</string>
			</dict>
			<key>rabbit_hudiejie.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,413},{82,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,44}</string>
			</dict>
			<key>rabbit_hudiejieyy.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,172},{92,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,56}</string>
			</dict>
			<key>rabbit_meimao.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,375},{95,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,16}</string>
			</dict>
			<key>rabbit_meimao_daxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,276},{99,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,17}</string>
			</dict>
			<key>rabbit_meimao_juezui.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,244},{94,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,38}</string>
			</dict>
			<key>rabbit_meimao_kumeimao.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,172},{127,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,42}</string>
			</dict>
			<key>rabbit_meimao_kuyanjing.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,109},{135,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,40}</string>
			</dict>
			<key>rabbit_meimao_kuyoushou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,443},{64,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,39}</string>
			</dict>
			<key>rabbit_meimao_kuyoushou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,373},{42,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,72}</string>
			</dict>
			<key>rabbit_meimao_kuzuiba.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,298},{65,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,51}</string>
			</dict>
			<key>rabbit_meimao_kuzuoshou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,366},{53,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,61}</string>
			</dict>
			<key>rabbit_meimao_kuzuoshou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,415},{56,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,64}</string>
			</dict>
			<key>rabbit_meimao_waitou.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,338},{100,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,35}</string>
			</dict>
			<key>rabbit_meimao_yanlei.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{281,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,66}</string>
			</dict>
			<key>rabbit_menya.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,393},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>rabbit_menya_daxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,413},{26,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,24}</string>
			</dict>
			<key>rabbit_menya_waitou.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,342},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>rabbit_menya_zhayan.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,368},{26,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,25}</string>
			</dict>
			<key>rabbit_tou_waitou.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{210,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,188}</string>
			</dict>
			<key>rabbit_yanjing_daxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,66},{129,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,47}</string>
			</dict>
			<key>rabbit_yanjing_juezui.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,138},{140,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,59}</string>
			</dict>
			<key>rabbit_yanjing_waitou.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,0},{138,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,77}</string>
			</dict>
			<key>rabbit_yanjing1_zhayan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,138},{138,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,17}</string>
			</dict>
			<key>rabbit_yanjing2_zhayan.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,66},{142,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,43}</string>
			</dict>
			<key>rabbit_yanjing3_zhayan.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,197},{141,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,57}</string>
			</dict>
			<key>rabbit_youerduo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,479},{48,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,71}</string>
			</dict>
			<key>rabbit_youerduo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,195},{53,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,81}</string>
			</dict>
			<key>rabbit_youerduo3.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,338},{50,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,75}</string>
			</dict>
			<key>rabbit_youjiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,246},{52,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,79}</string>
			</dict>
			<key>rabbit_youshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,183},{63,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,76}</string>
			</dict>
			<key>rabbit_zuiba.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,419},{58,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,50}</string>
			</dict>
			<key>rabbit_zuiba_daxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,290},{76,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,51}</string>
			</dict>
			<key>rabbit_zuiba_juezui.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,66},{86,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,76}</string>
			</dict>
			<key>rabbit_zuiba_kubizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,292},{77,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,50}</string>
			</dict>
			<key>rabbit_zuiba_waitou.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,420},{39,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,49}</string>
			</dict>
			<key>rabbit_zuiba_zhayan.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,392},{59,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,51}</string>
			</dict>
			<key>rabbit_zuoerduo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,264},{53,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,81}</string>
			</dict>
			<key>rabbit_zuoerduo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,125},{58,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,91}</string>
			</dict>
			<key>rabbit_zuoerduo3.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,125},{57,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,88}</string>
			</dict>
			<key>rabbit_zuojiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,109},{63,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,91}</string>
			</dict>
			<key>rabbit_zuoshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,142},{69,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,79}</string>
			</dict>
			<key>sbl.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,0},{197,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>heropacker.png</string>
			<key>realTextureFileName</key>
			<string>heropacker.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>